<div id="map"></div>
<div id="map-overlay" class='map-overlay'>
    <b class="cheques-number">Количество чеков: {{overlay.currentNumberOfCheques}}</b> <br>
    Итоговая сумма: {{overlay.totalSum | number:2}}₽ <br>
    Средняя сумма чека: {{overlay.averageBillPrice | number:2}}₽ <br>
    Суммарная скидка: {{overlay.totalDiscount | number:2}}₽ <br>


    <div class="top-inner-panel">
        <div class="custom-chart">
            <canvas id="pie1" class="chart chart-pie" height="80%" width="80%"
                    chart-data="charts[0].values" chart-labels="charts[0].labels" chart-options="chartOptions">
            </canvas>
        </div>
    </div>

    <div class="bottom-inner-panel">
        <div class="custom-chart">
            <canvas id="pie2" class="chart chart-pie" height="80%" width="80%"
                    chart-data="charts[1].values" chart-labels="charts[1].labels" chart-options="chartOptions">
            </canvas>
        </div>
    </div>
</div>


<div class='map-filter top'>
    <div class='map-filter-inner'>
        <h4>Денежная масса</h4>
        (безналичный и наличный оборот)
        <label id='month'></label>
        <input id='slider' type='range' min='0' max='20000000' step='1000' value='0' ng-model="revenueFilter.value"/>
        <span class="slider-value">{{revenueFilter.value | number}}₽</span>
    </div>
    <div class='map-filter-inner'>
        <div id='legend' class='legend'>
            <div class='bar'></div>
            <div>Total sum (₽)</div>
        </div>
    </div>
</div>